*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 2rem;
    overflow: hidden;
}


/*navbar*/
body{
    font-family: "Manrope", sans-serif;
    background-color: #000000;
    color: white;
}

.heroPage{
    background-image: url(images/bgImg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* Ensures the image covers the entire container while maintaining aspect ratio */
    position: relative;
    height: 100%;
    margin-bottom: 130px;
}


header{
    max-height: 80px;
    position: relative;
}

header .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 18px 0;

    img{
        max-width: 90px;
    }

    ul{
        display: flex;
        align-items: center;
        list-style-type: none;

        li{
            padding: 0 3rem;

            a{
                font-size: 15px;
                color: white;
                letter-spacing: 2px;
                text-decoration: none;

                a:hover{
                    color: white;
                }
            }
        }
    }
}

#signupBtn, #loginBtn{
    padding: 8px 20px;
    border-radius: 5px;
    text-align: center;
}

#signupBtn{
    color: white;
    border: none;
    background-image: linear-gradient(to right, #328EB8, #793CE3);
    margin-right: 15px;
}

#loginBtn{
    background-color: transparent;
    color: white;
    border: 1px white solid;
}

.heroPg{
    margin-top: 120px;
    justify-items: center;
}

.heroText{
    max-width: 80%;

    h1{
        font-family: "Archivo Black", sans-serif;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        color: white;
        font-size: 75px;
    }

    .purpleGradient{
        background-image: radial-gradient(#8135CD,#AD79DB,#6A1072);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent; 
        color: transparent;
        display: inline-block;
    }

    .blueGradient{
        background-image: radial-gradient(#23627F,#3FB1E5,#06425D);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent; 
        color: transparent;
        display: inline-block;
    }

    p{
        text-align: center;
        color: white;
        font-size: 20px;
        padding: 20px;
    }
}

#componentBtn, #starterBtn{
    padding: 15px 20px;
    border-radius: 3px;
    border: none;
    margin: 10px;
    color: white;
}

#componentBtn{
    background-color: #BF3FC79C;
}

#starterBtn{
    background-color: #328EB89C;
}

#builtfor{
    color: white;
    width: 100%;
    text-align: center;
    background-image: linear-gradient(to right, #FFFFFF80, #99999980);
    padding: 30px;
}

.howItWorks{
    align-items: center;
    justify-items: center;
    margin: 100px 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.447), rgba(0, 0, 0, 0)), url(images/bgSnippet.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%; 

    h2{
        font-family: "Archivo Black", sans-serif;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        color: white;
        font-size: 45px;
    }

    h3{
        font-family: "Archivo Black", sans-serif;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        color: white;
        font-size: 30px;
    }
}

#working{
    display: grid;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(5, auto);
    margin: 50px 0;
}

.box{
    border: 3px solid #3FB1E5;
    background-image: linear-gradient(to bottom, #328eb83c, #be3fc738);
    padding: 20px;
    height: 100%;
    width: 60%;
    align-items: center;
    justify-content: center;
    border-radius: 0 30px;

    h4{
        padding: 10px 0;
    }

    p{
        padding: 10px 0;
        width: 90%;
    }
}

.separate{
    img{
        width: 50px;
    }
}

.secondSection{
    justify-items: center;
    text-align: center;

    h3{
        margin: 20px 0;
    }
}

#features{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.feature{
    width: 50%;
    margin: 10px 0;
    background-color: #0000009a;

    h4{
        padding-top: 20px;
    }

    p{
        padding: 30px;
    }
}

.blue{
    border: 3px solid #3FB1E5;
}

.purple{
    border: 3px solid #BF3FC7;
}

.explore{
    justify-items: center;

    h2{
        font-family: "Archivo Black", sans-serif;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        color: white;
        font-size: 45px;
    }

    p{
        padding: 15px 0;
    }
}

.exploreCards{
    margin: 40px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 60%;
    
    h4{
        padding-top: 10px;
    }

    p{
        padding: 0;
    }
}

.card{
    padding: 20px;
}

.cardHead{
    width: 200px;
    height: 15px;
    border-radius: 10px;
    opacity: 0.7;
    margin: 10px 0;
}

.cardText{
    width: 150px;
    height: 15px;
    border-radius: 10px;
    opacity: 0.3;
    margin: 10px 0;
}

.cardBody{
    width: 85px;
    height: 35px;
    border-radius: 10px;
    opacity: 0.7;
    margin: 10px 0;
}

.card1{
    border: 1px solid orange;
}

.card1Color{
    background-color: orange;
}

.card2{
    border: 1px solid rgb(118, 188, 14);
}

.card2Color{
    background-color: rgb(118, 188, 14);
}

.card3{
    border: 1px solid rgb(199, 0, 0);
}

.card3Color{
    background-color: rgb(199, 0, 0);
}

.card4{
    border: 1px solid indigo;
}

.card4Color{
    background-color: indigo;
}

.card5{
    border: 1px solid blue;
}

.card5Color{
    background-color: blue;
}

.card6{
    border: 1px solid yellow;
}

.card6Color{
    background-color: yellow;
}

.browseBtn{
    background-color: transparent;
    padding: 10px 30px;
    border-radius: 20px;
    margin-bottom: 50px;
    color: white;
    border: 1px white solid;
}

.pricing{
    justify-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.447), rgba(0, 0, 0, 0)), url(images/bgSnippet.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%; 

    h2{
        font-family: "Archivo Black", sans-serif;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        color: white;
        font-size: 45px;
    }
}

#priceSection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 75%;
    margin: 50px 0;
}

.priceCard, .proCard{
    border: 2px solid #255878;
    background-color: #000000;
    border-radius: 15px;
    padding: 30px;
    height: 100%;
    width: 95%;

    h4{
        font-size: 25px;
    }

    h3{
        margin: 40px 0;
    }

    strong{
        font-size: 50px;
    }

    button{
        text-align: center;
        padding: 10px 35px;
        width: 100%;
        margin-bottom: 35px;
        border-radius: 10px;
        background-color: #FFFFFF36;
        color: white;
        border: 1px solid white;
    }

    li{
        list-style-type: none;
        padding: 5px 0;
    }
}

.popular{
    text-align: center;

    h5{
        width: 95%;
        padding: 5px;
        background-image: linear-gradient(to right, #AB00B4, #CECE05);
        border-radius: 20px 20px 0 0;
        color: black;
    }
}

.proCard{
    border: 4px solid #AB00B4;
    border-top: none;
    border-radius: 0 0 15px 15px;
    background-color: #0000008b;
}

#getStartedBanner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/getStartedBanner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    min-height: 500px;
    align-content: center;
    justify-items: center;
    color: white;
    text-align: center;
    
    h2{
        font-family: "Archivo Black", sans-serif;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        color: white;
        font-size: 50px;
        padding-bottom: 20px;
    }

    p{
        width: 50%;
        padding-bottom: 20px;
    }

    button{
        display: block;
        text-align: center;
        background-color: transparent;
        color: white;
        border: solid 1px white;
        padding: 10px 30px;
        border-radius: 25px;
        margin: 0 auto;
    }
}

footer{
    background-color: black;
    color: white;
    padding: 50px;
}

.footerContent{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    justify-items: center;
    margin: 0 auto;
    padding: 30px 0;

    h3{
        font-size: 22px;
    }

    p{
        padding: 15px 0;
    }

    .slogan{
        font-weight: bolder;
    }

    ul{
        list-style-type: none;
        padding: 10px 0;

        li{
            padding: 10px 0;
        }
    }

    i{
        font-size: 25px;
        padding-right: 50px;
    }
}

.copyright{
    text-align: center;
}