.heroText{
    width: 65%;

    h1{
        padding-bottom: 20px;
    }
}

.searchBar{
    width: 55%;
    display: flex;
    margin: 30px 0;
    justify-content: center;
}

.searchInput{
    padding: 10px 30px;
    border-radius: 10px;
    width: 100%;
    align-content: center;
    margin: 0 10px;
    border: none;
}

.searchBtn{
    padding: 0 30px;
    border-radius: 10px;
    text-align: center;
    color: white;
    border: none;
    background-image: linear-gradient(to right, rgb(122, 151, 247), rgb(109, 29, 207));
}


#componentsCollection{
    width: 100%;
    display: flex;
    align-items: center;
}

.componentContainer{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.componentLinks{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.component{
    padding: 5px 25px;
    border-radius: 15px;
    border: solid 2px #793CE3;
}

.component:hover{
    background-color: #793CE3;
    cursor: pointer;
}

img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.menuActive{
    background-color: 213448;
}

.UIcollection{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin: 50px 0;
}

.itemCard{
    border: 2px solid #470FA8;
    padding: 10px;
    border-radius: 0 15px;
    justify-items: center;

    button{
        display: block;
        margin: 10px 0;
        padding: 10px 60px;
        border-radius: 7px;
        border: none;
        text-align: center;
        color: white;
        background-image: linear-gradient(to right, rgb(122, 151, 247), rgb(109, 29, 207));
    }
}

.itemImg{
    position: relative;
    width: 100%;

    img{
        width: 100%;
        height: auto;
        display: block;
        border-radius: 0 15px;
        margin-bottom: 15px;
    }
}

.tag{
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
    background-color: forestgreen;
    color: white;
    padding: 3px;
    border-radius: 15px;
    width: 70px;
}

/* Gray empty heart */
.like-icon {
    font-size: 24px;
    color: #ccc;
    cursor: pointer;
    transition: transform 0.2s ease, color 0.2s ease;
}

/* Red filled heart */
.like-icon.active {
    color: #ff4d4d !important; /* Force red color */
}

.like-icon.fa-solid {
    font-weight: 900; /* Required for Font Awesome solid icons */
}


