.expand-card {
    width: 100%;
    max-width: 350px;
    height: 300px;
    border-radius: 4px;
    background: #212121;
    display: flex;
    gap: 5px;
    padding: .4em;
}

.expand-card__item {
    height: 100%;
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    border-radius: 2px;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    background: #212121;
    border: 1px solid #ff5a91;
    display: flex;
    justify-content: center;
    align-items: center;
}

.expand-card__item:hover {
    flex: 4;
}

.expand-card__item span {
    min-width: 14em;
    padding: .5em;
    text-align: center;
    transform: rotate(-90deg);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    text-transform: uppercase;
    color: #ff568e;
    letter-spacing: .1em;
    font-weight: 600;
    font-size: 0.85rem;
}

.expand-card__item:hover span {
    transform: rotate(0);
}

@media (max-width: 900px) {
    .split-container { flex-direction: column; }
    .expand-card { max-width: 100%; height: 250px; }
    .expand-card__item span { font-size: 0.7rem; min-width: 10em; }
}