body{
    background-image: url(images/formPagesBg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    background-position: center center;
}

.signupContainer, .loginContainer{
    background-color: transparent;
    background-image: linear-gradient(to bottom, #FFFFFF1F, #FFFFFF0A);
    color: white;
    width: 35%;
    padding: 30px;
    margin: 50px auto;
    border: 1px solid white;
    border-radius: 50px 0;

    h2{
        text-align: center;
    }

    p{
        text-align: center;
        padding: 20px;
    }
}

.loginContainer{
    border-radius: 0 25px;
}

.formGroup{
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
}

label{
    padding-bottom: 5px;
}

input{
    padding: 10px;
    border-radius: 15px;
    border: none;
    background-color: transparent;
    border: 2px white solid;
}

.submitBtn{
    display: block;
    margin: 20px auto;
    margin-bottom: 0;
    padding: 10px 120px;
    border-radius: 20px;
    border: none;
    background-color: #4B0FB2;
    color: white;
}

.login{
    a{
        text-decoration: none;
        color: #DE6CE599;
    }
}
